<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="https://www.highcharts.com/highslide/highslide.css" rel="stylesheet" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/6/highcharts.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/6/highcharts-more.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/6/modules/heatmap.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/6/modules/exporting.js"></script>
    </head>
    <body>
    
    <div class="col" style="padding: 50px; margin-top: 25px;">
    <div class="col-md-6">
      <div id="container1300" style="width: 1000px; height: 700px"></div>
    </div>

    <div class="col-md-6">
      <div id="container1400" style="width: 1000px; height: 700px"></div>
    </div>
        <div class="col-md-6">
      <div id="container1500" style="width: 1000px; height: 700px"></div>
    </div>
        <div class="col-md-6">
      <div id="container1600" style="width: 1000px; height: 700px"></div>
    </div>
        <div class="col-md-6">
      <div id="container1700" style="width: 1000px; height: 700px"></div>
    </div>
        <div class="col-md-6">
      <div id="container1800" style="width: 1000px; height: 700px"></div>
    </div>
        <div class="col-md-6">
      <div id="container1900" style="width: 1000px; height: 700px"></div>
    </div>
  </div>

    <script>
