<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="https://www.highcharts.com/highslide/highslide.css" rel="stylesheet" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/6/highcharts.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/6/highcharts-more.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/6/modules/heatmap.js"></script>
        <script type="text/javascript" src="https://code.highcharts.com/6/modules/exporting.js"></script>
    </head>
    <body style="margin:0;padding:0">
                <div id="container" style="">Loading....</div>

    <script>
        $(function(){
            Highcharts.setOptions({"global": {}, "lang": {}});
            var option = {"chart": {"renderTo": "container", "resetZoomButton": {"relativeTo": "chart", "position": {"x": 10, "y": -30}}, "style": {"fontFamily": "Lucida Grande, sans-serif", "fontfontSize": "22px"}}, "colors": {}, "credits": {"enabled": false}, "drilldown": {}, "exporting": {}, "labels": {}, "legend": {}, "loading": {}, "navigation": {}, "pane": {}, "plotOptions": {}, "series": {}, "subtitle": {}, "title": {"text": "chart for 1800"}, "tooltip": {"formatter": function () { return'<b>'+ this.series.name + '</b>: ' + this.y; }}, "xAxis": {"events": {"afterBreaks": function(e){return}, "pointBreak": function(e){return}}, "plotBands": [{"color": "#FCFFC5", "from": 2, "to": 4}, {"color": "#FCFFC5", "from": 6, "to": 8}, {"color": "#FCFFC5", "from": 10, "to": 12}]}, "yAxis": {}};

            var chart = new Highcharts.Chart(option);

var data = [{"data": [2, 9, 10, 100, 0, 0, 0, 20], "type" : "line", "name":"understand"}, {"data": [4, 8, 20, 200, 0, 120, 0, 30], "type" : "line", "name":"algorithm"}, {"data": [6, 7, 30, 300, 120, 0, 0, 40], "type" : "line", "name":"code"}, {"data": [8, 6, 40, 400, 0, 0, 120, 50], "type" : "line", "name":"debug"}, {"data": [-10, -5, -50, -500, -30, -100, -50, -60], "type" : "line", "name":"editorial"}, {"data": [20, 30, 100, 1000, 0, 0, 0, 140], "type" : "line", "name":"total"}];
            var dataLen = data.length;
            for (var ix = 0; ix < dataLen; ix++) {
                chart.addSeries(data[ix]);
            }       
    });
        </script>

    </body>
</html>

