            $(function(){
            Highcharts.setOptions({"global": {}, "lang": {}});
            var option = {"chart": {"renderTo": "container", "resetZoomButton": {"relativeTo": "chart", "position": {"x": 10, "y": -30}}, "style": {"fontFamily": "Lucida Grande, sans-serif", "fontfontSize": "22px"}}, "colors": {}, "credits": {"enabled": false}, "drilldown": {}, "exporting": {}, "labels": {}, "legend": {}, "loading": {}, "navigation": {}, "pane": {}, "plotOptions": {}, "series": {}, "subtitle": {}, "title": {"text": "chart for 1600"}, "tooltip": {"formatter": function () { return'<b>'+ this.series.name + '</b>: ' + this.y; }}, "xAxis": {"events": {"afterBreaks": function(e){return}, "pointBreak": function(e){return}}, "plotBands": [{"color": "#FCFFC5", "from": 2, "to": 4}, {"color": "#FCFFC5", "from": 6, "to": 8}, {"color": "#FCFFC5", "from": 10, "to": 12}]}, "yAxis": {}};

            var chart = new Highcharts.Chart('container1600', option);

var data = [{"data": [0, 0, 50, 10, 0, 0, 0, 0, 0, 0, 0], "type" : "line", "name":"understand"}, {"data": [120, 120, 20, 5, 120, 120, 120, 120, 120, 120, 120], "type" : "line", "name":"algorithm"}, {"data": [0, 0, 5, 5, 0, 0, 0, 0, 0, 0, 0], "type" : "line", "name":"code"}, {"data": [0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0], "type" : "line", "name":"debug"}, {"data": [-20, -5, 0, 0, -5, -10, -30, -25, -60, -120, -15], "type" : "line", "name":"editorial"}, {"data": [0, 0, 75, 25, 0, 0, 0, 0, 0, 0, 0], "type" : "line", "name":"total"}];
            var dataLen = data.length;
            for (var ix = 0; ix < dataLen; ix++) {
                chart.addSeries(data[ix]);
            }       
    });
