            $(function(){
            Highcharts.setOptions({"global": {}, "lang": {}});
            var option = {"chart": {"renderTo": "container", "resetZoomButton": {"relativeTo": "chart", "position": {"x": 10, "y": -30}}, "style": {"fontFamily": "Lucida Grande, sans-serif", "fontfontSize": "22px"}}, "colors": {}, "credits": {"enabled": false}, "drilldown": {}, "exporting": {}, "labels": {}, "legend": {}, "loading": {}, "navigation": {}, "pane": {}, "plotOptions": {}, "series": {}, "subtitle": {}, "title": {"text": "chart for 1400"}, "tooltip": {"formatter": function () { return'<b>'+ this.series.name + '</b>: ' + this.y; }}, "xAxis": {"events": {"afterBreaks": function(e){return}, "pointBreak": function(e){return}}, "plotBands": [{"color": "#FCFFC5", "from": 2, "to": 4}, {"color": "#FCFFC5", "from": 6, "to": 8}, {"color": "#FCFFC5", "from": 10, "to": 12}]}, "yAxis": {}};

            var chart = new Highcharts.Chart('container1400', option);

var data = [{"data": [5, 5, 5, 10, 0, 15, 0, 5, 0, 5, 0, 5, 0, 0, 10, 8, 5, 10, 0, 10, 10, 5, 5, 10, 10, 10, 5], "type" : "line", "name":"understand"}, {"data": [60, 60, 120, 40, 0, 15, 120, 10, 120, 15, 120, 10, 120, 120, 25, 10, 13, 10, 120, 10, 10, 13, 75, 10, 10, 5, 5], "type" : "line", "name":"algorithm"}, {"data": [5, 10, 0, 10, 0, 3, 0, 10, 0, 5, 0, 10, 0, 0, 10, 10, 4, 5, 0, 5, 8, 12, 15, 7, 7, 5, 10], "type" : "line", "name":"code"}, {"data": [20, 0, 0, 3, 120, 10, 0, 3, 0, 0, 0, 20, 0, 0, 8, 0, 0, 0, 0, 0, 6, 20, 0, 0, 0, 0, 10], "type" : "line", "name":"debug"}, {"data": [-10, -5, -15, -1, -5, -1, -5, -1, -5, -30, -25, 0, -30, -2, -1, 0, -1, 0, -40, 0, -5, -3, -5, 0, 0, -2, -3], "type" : "line", "name":"editorial"}, {"data": [90, 75, 125, 63, 0, 43, 0, 28, 0, 25, 0, 45, 0, 0, 53, 28, 22, 25, 0, 25, 34, 50, 95, 27, 27, 20, 30], "type" : "line", "name":"total"}];
            var dataLen = data.length;
            for (var ix = 0; ix < dataLen; ix++) {
                chart.addSeries(data[ix]);
            }       
    });
